<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Mount Medic</vendor>
  <action id="io.github.aakashH242.mount-medic.inspect">
    <description>Inspect NTFS volumes and run previously authorized recovery</description>
    <message>Access Mount Medic</message>
    <defaults><allow_any>no</allow_any><allow_inactive>no</allow_inactive><allow_active>yes</allow_active></defaults>
  </action>
  <action id="io.github.aakashH242.mount-medic.admin">
    <description>Authorize NTFS repair or change write permissions</description>
    <message>Administrator authentication is required to authorize Mount Medic disk writes</message>
    <defaults><allow_any>auth_admin</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin</allow_active></defaults>
  </action>
</policyconfig>
